In [2]:
import pandas as pd

df = pd.read_csv('c:\\TIL\\coronatest_incheon.csv', encoding='euc=kr')
df.head()

           날짜  검사자 수
0  2020-02-08     14
1  2020-02-09     18
2  2020-02-10     18
3  2020-02-11     19
4  2020-02-12     47