# 데이터 불러오기

In [21]:
import pandas as pd

df = pd.read_csv('c:\\til\\covid19_seoul.csv', encoding='euc-kr')
df.head()

,연번,확진일,환자번호,국적,환자정보,지역,여행력,접촉력,조치사항,상태,이동경로,등록일,수정일,노출여부
0,5768,10.22.,NaN,NaN,NaN,서초구,NaN,강남서초 지인모임,NaN,NaN,NaN,2020-10-23 11:04:56,2020-10-23 11:04:56,Y
1,5767,10.22.,NaN,NaN,NaN,강남구,NaN,강남서초 지인모임,NaN,NaN,NaN,2020-10-23 11:04:56,2020-10-23 11:04:56,Y
2,5766,10.22.,NaN,NaN,NaN,중랑구,NaN,서대문구 소재 장례식장,NaN,NaN,NaN,2020-10-23 11:04:56,2020-10-23 11:04:56,Y
3,5765,10.22.,NaN,NaN,NaN,송파구,NaN,기타 확진자 접촉,NaN,NaN,NaN,2020-10-23 11:04:56,2020-10-23 11:04:56,Y
4,5764,10.22.,NaN,NaN,NaN,구로구,NaN,기타 확진자 접촉,NaN,NaN,NaN,2020-10-23 11:04:56,2020-10-23 11:04:56,Y

In [3]:
df.shape

(5768, 14)

# 필요한 데이터로 새로운 테이블 만들기

In [12]:
df = df[['확진일', '지역']]
df.head()

      확진일   지역
0  10.22.  서초구
1  10.22.  강남구
2  10.22.  중랑구
3  10.22.  송파구
4  10.22.  구로구

In [13]:
df.tail()

        확진일   지역
5763  1.31.  성북구
5764  1.30.  마포구
5765  1.30.  종로구
5766  1.30.  중랑구
5767  1.24.  강서구

# 생성할 테이블 목록
1. 월별 확진자
2. 지역별 확진자
3. 월별/지역별 확진자

# 오탈자 수정 
- 종랑구 -> 중랑구
- 한국, 기타 -> 타시도

In [14]:
region = []
for i in range(len(df['지역'])):
    
    if df['지역'][i] == '종랑구':
        df['지역'][i] = '중랑구'
    if df['지역'][i] == '한국':
        df['지역'][i] = '타시도'
    if df['지역'][i] == '기타':
        df['지역'][i] = '타시도'
    if df['지역'][i] not in region:
        region.append(df['지역'][i])

region

['서초구',
 '강남구',
 '중랑구',
 '송파구',
 '구로구',
 '성동구',
 '영등포구',
 '서대문구',
 '타시도',
 '관악구',
 '동작구',
 '강동구',
 '양천구',
 '도봉구',
 '강서구',
 '성북구',
 '용산구',
 '광진구',
 '은평구',
 '마포구',
 '노원구',
 '금천구',
 '종로구',
 '강북구',
 '동대문구',
 '중구']

- 25개구 + 타시도

In [15]:
len(region)

26

- 정렬

In [16]:
region.sort()
print(region)

['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구', '타시도']

# 1. 월별 확진자 테이블 생성하기

In [17]:
covid_month = {
    'jan' : 0,
    'feb' : 0,
    'mar' : 0,
    'apr' : 0,
    'may' : 0,
    'jun' : 0,
    'jul' : 0,
    'aug' : 0,
    'sep' : 0,
    'oct' : 0
}
print(covid_month)

{'jan': 0, 'feb': 0, 'mar': 0, 'apr': 0, 'may': 0, 'jun': 0, 'jul': 0, 'aug': 0, 'sep': 0, 'oct': 0}

In [20]:
n = 0
for i in df['확진일']:
    print(i)
        
    n += 1
    if n > 10:
        break

10.22.
10.22.
10.22.
10.22.
10.22.
10.22.
10.22.
10.22.
10.22.
10.22.
10.22.

# 여행력

In [22]:
df_trip = df['여행력']
df_trip.head()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: 여행력, dtype: object

In [26]:
country = []

for i in df_trip:
    if i not in country:
        country.append(i)

country

[nan,
 '키르기스스탄',
 '미국',
 '인도',
 '이란',
 '체코',
 '폴란드',
 '프랑스',
 '필리핀',
 '방글라데시',
 '일본',
 '브라질',
 '우즈베키스탄',
 '요르단',
 '쿠웨이트',
 '인도네시아',
 '우간다',
 '몰타',
 '영국',
 '네팔',
 '카타르',
 '우크라이나',
 '에콰도르',
 '키르기즈스탄',
 '파라과이',
 '멕시코 미국',
 '카자흐스탄',
 '독일',
 '중국',
 '이집트',
 '21263',
 '터키',
 '사우디아라비아',
 '베트남',
 '에티오피아',
 '스페인',
 '케냐',
 '멕시코',
 '홍콩',
 '러시아',
 '이라크',
 '모로코 터키',
 '나이지리아',
 '미국 멕시코',
 '페루',
 '아랍에미리트',
 'UAE',
 '파키스탄',
 '아일랜드',
 '콩코 프랑스',
 '캐나다',
 '페루 미국',
 '프랑스 스페인 독일 이탈리아 네덜란드',
 '팔라우',
 '호주 인도네시아',
 '이탈리아',
 '포르투칼',
 '미국 캐나다 멕시코',
 '미국 뉴욕',
 '오스트리아',
 '미국 브라질',
 '태국',
 '아르헨티나 볼리비아 브라질',
 '말레이시아',
 '필리핀 마닐라',
 '브라질 아르헨티아 칠레 볼리비아',
 '프랑스 독일',
 '미국 캐나다',
 '스페인 카타르',
 '이탈리아 프랑스',
 '체코 헝가리 오스트리아 이탈리아 프랑스',
 '모로코 프랑스 오스트리아',
 '영국 프랑스',
 '스페인체코',
 '독일프랑스',
 '프랑스 스페인',
 '스페인 프랑스',
 '이탈리아 독일 홍콩',
 '중국 청도',
 '우한교민',
 '중국 우한시',
 '싱가포르',
 '우한 교민']

In [29]:
country.pop(nan)

NameError: name 'nan' is not defined

In [31]:
country[0] = 'NaN'
country

['NaN',
 '키르기스스탄',
 '미국',
 '인도',
 '이란',
 '체코',
 '폴란드',
 '프랑스',
 '필리핀',
 '방글라데시',
 '일본',
 '브라질',
 '우즈베키스탄',
 '요르단',
 '쿠웨이트',
 '인도네시아',
 '우간다',
 '몰타',
 '영국',
 '네팔',
 '카타르',
 '우크라이나',
 '에콰도르',
 '키르기즈스탄',
 '파라과이',
 '멕시코 미국',
 '카자흐스탄',
 '독일',
 '중국',
 '이집트',
 '21263',
 '터키',
 '사우디아라비아',
 '베트남',
 '에티오피아',
 '스페인',
 '케냐',
 '멕시코',
 '홍콩',
 '러시아',
 '이라크',
 '모로코 터키',
 '나이지리아',
 '미국 멕시코',
 '페루',
 '아랍에미리트',
 'UAE',
 '파키스탄',
 '아일랜드',
 '콩코 프랑스',
 '캐나다',
 '페루 미국',
 '프랑스 스페인 독일 이탈리아 네덜란드',
 '팔라우',
 '호주 인도네시아',
 '이탈리아',
 '포르투칼',
 '미국 캐나다 멕시코',
 '미국 뉴욕',
 '오스트리아',
 '미국 브라질',
 '태국',
 '아르헨티나 볼리비아 브라질',
 '말레이시아',
 '필리핀 마닐라',
 '브라질 아르헨티아 칠레 볼리비아',
 '프랑스 독일',
 '미국 캐나다',
 '스페인 카타르',
 '이탈리아 프랑스',
 '체코 헝가리 오스트리아 이탈리아 프랑스',
 '모로코 프랑스 오스트리아',
 '영국 프랑스',
 '스페인체코',
 '독일프랑스',
 '프랑스 스페인',
 '스페인 프랑스',
 '이탈리아 독일 홍콩',
 '중국 청도',
 '우한교민',
 '중국 우한시',
 '싱가포르',
 '우한 교민']

In [33]:
country.sort()
country

['21263',
 'NaN',
 'UAE',
 '나이지리아',
 '네팔',
 '독일',
 '독일프랑스',
 '러시아',
 '말레이시아',
 '멕시코',
 '멕시코 미국',
 '모로코 터키',
 '모로코 프랑스 오스트리아',
 '몰타',
 '미국',
 '미국 뉴욕',
 '미국 멕시코',
 '미국 브라질',
 '미국 캐나다',
 '미국 캐나다 멕시코',
 '방글라데시',
 '베트남',
 '브라질',
 '브라질 아르헨티아 칠레 볼리비아',
 '사우디아라비아',
 '스페인',
 '스페인 카타르',
 '스페인 프랑스',
 '스페인체코',
 '싱가포르',
 '아랍에미리트',
 '아르헨티나 볼리비아 브라질',
 '아일랜드',
 '에콰도르',
 '에티오피아',
 '영국',
 '영국 프랑스',
 '오스트리아',
 '요르단',
 '우간다',
 '우즈베키스탄',
 '우크라이나',
 '우한 교민',
 '우한교민',
 '이라크',
 '이란',
 '이집트',
 '이탈리아',
 '이탈리아 독일 홍콩',
 '이탈리아 프랑스',
 '인도',
 '인도네시아',
 '일본',
 '중국',
 '중국 우한시',
 '중국 청도',
 '체코',
 '체코 헝가리 오스트리아 이탈리아 프랑스',
 '카자흐스탄',
 '카타르',
 '캐나다',
 '케냐',
 '콩코 프랑스',
 '쿠웨이트',
 '키르기스스탄',
 '키르기즈스탄',
 '태국',
 '터키',
 '파라과이',
 '파키스탄',
 '팔라우',
 '페루',
 '페루 미국',
 '포르투칼',
 '폴란드',
 '프랑스',
 '프랑스 독일',
 '프랑스 스페인',
 '프랑스 스페인 독일 이탈리아 네덜란드',
 '필리핀',
 '필리핀 마닐라',
 '호주 인도네시아',
 '홍콩']