# 데이터 불러오기

In [19]:
import pandas as pd

df = pd.read_csv('c:\\til\\covid19_seoul.csv', encoding='euc-kr')
df.head()

,연번,확진일,환자번호,국적,환자정보,지역,여행력,접촉력,조치사항,상태,이동경로,등록일,수정일,노출여부
0,5768,10.22.,NaN,NaN,NaN,서초구,NaN,강남서초 지인모임,NaN,NaN,NaN,2020-10-23 11:04:56,2020-10-23 11:04:56,Y
1,5767,10.22.,NaN,NaN,NaN,강남구,NaN,강남서초 지인모임,NaN,NaN,NaN,2020-10-23 11:04:56,2020-10-23 11:04:56,Y
2,5766,10.22.,NaN,NaN,NaN,중랑구,NaN,서대문구 소재 장례식장,NaN,NaN,NaN,2020-10-23 11:04:56,2020-10-23 11:04:56,Y
3,5765,10.22.,NaN,NaN,NaN,송파구,NaN,기타 확진자 접촉,NaN,NaN,NaN,2020-10-23 11:04:56,2020-10-23 11:04:56,Y
4,5764,10.22.,NaN,NaN,NaN,구로구,NaN,기타 확진자 접촉,NaN,NaN,NaN,2020-10-23 11:04:56,2020-10-23 11:04:56,Y

In [20]:
df.shape

(5768, 14)

# 필요한 데이터로 새로운 테이블 만들기

In [44]:
sample = df[['확진일', '지역']]
sample.head()

      확진일   지역
0  10.22.  서초구
1  10.22.  강남구
2  10.22.  중랑구
3  10.22.  송파구
4  10.22.  구로구

In [45]:
sample.tail()

        확진일   지역
5763  1.31.  성북구
5764  1.30.  마포구
5765  1.30.  종로구
5766  1.30.  중랑구
5767  1.24.  강서구

1. 월별 확진자
2. 지역별 확진자
3. 월별/지역별 확진자

# 오탈자 수정 
- 종랑구 -> 중랑구
- 한국, 기타 -> 타시도

In [46]:
region = []
for i in range(len(sample['지역'])):
    
    if sample['지역'][i] == '종랑구':
        sample['지역'][i] = '중랑구'
    if sample['지역'][i] == '한국':
        sample['지역'][i] = '타시도'
    if sample['지역'][i] == '기타':
        sample['지역'][i] = '타시도'
    if sample['지역'][i] not in region:
        region.append(sample['지역'][i])

region

C:\Users\Dojun Park\AppData\Local\Continuum\anaconda3\envs\python36\lib\site-packages\IPython\core\interactiveshell.py:3343: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

['서초구',
 '강남구',
 '중랑구',
 '송파구',
 '구로구',
 '성동구',
 '영등포구',
 '서대문구',
 '타시도',
 '관악구',
 '동작구',
 '강동구',
 '양천구',
 '도봉구',
 '강서구',
 '성북구',
 '용산구',
 '광진구',
 '은평구',
 '마포구',
 '노원구',
 '금천구',
 '종로구',
 '강북구',
 '동대문구',
 '중구']

- 25개구 + 타시도

In [47]:
len(region)

26

- 정렬

In [48]:
region.sort()
print(region)

['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구', '타시도']

In [49]:
n = 0
for i in range(len(sample)):
    print(sample[:][i])
    n += 1
    if n > 10:
        break

KeyError: 0

In [37]:
sample.head()

     연번     확진일   지역
0  5768  10.22.  서초구
1  5767  10.22.  강남구
2  5766  10.22.  중랑구
3  5765  10.22.  송파구
4  5764  10.22.  구로구